storage: none
group paket2bazel_dependencies
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core 6.0.3
    nuget Argu 6.1.1
    nuget Paket.Core 7.1.5
    nuget NuGet.PackageManagement 6.2.0
    nuget FSharpx.Extras 3.0.0
    nuget FSharpx.Collections 2.1.3
    nuget FSharp.SystemTextJson 0.16.6
    nuget System.Text.Json 5.0.2
    nuget Microsoft.NETCore.App.Ref 6.0.5

group rules_dotnet_dev_nuget_packages
    framework: net6.0,netstandard2.1,netstandard2.0
    source https://api.nuget.org/v3/index.json

    nuget Microsoft.NETCore.App.Ref 6.0.5
    nuget Microsoft.NETCore.App.Runtime.win-x64 6.0.8
    nuget Microsoft.NETCore.App.Runtime.linux-x64 6.0.8
    nuget Microsoft.NETCore.App.Runtime.osx-x64 6.0.8
    nuget LibGit2Sharp 0.27.0-preview-0182
    nuget LibGit2Sharp.NativeBinaries 2.0.315-alpha.0.9
    nuget FSharp.Data 4.2.7
    nuget FSharp.Core 6.0.3
    nuget NETStandard.Library.Ref 2.1.0
    nuget System.Security.Principal.Windows 5.0.0
    nuget Magick.NET.Core 12.2.2
    nuget System.Memory 4.5.5

group rules_dotnet_nuget_packages
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget Microsoft.NETCore.App.Ref 6.0.5
    nuget NETStandard.Library.Ref 2.1.0
    nuget McMaster.Extensions.CommandLineUtils 2.5.0
    nuget Nuget.Commands 5.10.0
    nuget Nuget.Common 5.10.0
    nuget Nuget.Configuration 5.10.0
    nuget Nuget.DependencyResolver.Core 5.10.0
    nuget Nuget.Frameworks 5.10.0
    nuget Nuget.PackageManagement 5.10.0
    nuget Nuget.Packaging.Core 5.10.0
    nuget Nuget.Packaging 5.10.0
    nuget Nuget.ProjectModel 5.10.0
    nuget Nuget.Protocol 5.10.0
    nuget Nuget.Resolver 5.10.0
    nuget Nuget.Versioning 5.10.0
    nuget Nuget.Credentials 5.10.0
    nuget Nuget.LibraryModel 5.10.0
    nuget NUnit 3.12.0
    nuget NUnitLite 3.12.0

