framework: net6.0
source https://api.nuget.org/v3/index.json

nuget Argu 6.1.1
nuget FSharp.Data 4.2.8
nuget FSharp.Core 6.0.3
nuget Microsoft.NETCore.App.Ref 6.0.5

group othergroup
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget Argu 6.1.1
    nuget FSharp.Data 4.2.8
    nuget FSharp.Core 6.0.3
    nuget Microsoft.NETCore.App.Ref 6.0.5

